/*background image*/

body {
	background-image: url("../documentation/images/abstract.jpg")
;
}

/* Bio Text*/

h2 {
	color: black;
	font-family: 'Alice', serif;
}

#Bio{
	background-color: rgba(255,255,255, 0.7);
}

/* Card title color*/
h3 {
	color: white;
}


/* Contact title color*/
h4 {
	color: gold;
}